@tailwind base;
@tailwind components;
@tailwind utilities;

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-box {
   @apply bg-white p-8 flex flex-col rounded-xl shadow-green-700 shadow-lg items-start;
}

.signin-box h1 {
  @apply mb-5;
}

.signin-box button {
  @apply mb-4 bg-gray-400 hover:bg-gray-800 text-white px-6 py-2 rounded-md;
}

input {
  @apply p-2 rounded-md border border-gray-600 w-full;
}

body {
  @apply bg-gradient-to-tr from-black to-gray-600;
}
  
.btn {
  @apply bg-blue-600 text-white px-6 py-2 rounded-md;
}

.content-header {
  @apply text-2xl font-bold mb-5 pb-2 border-b-2 border-blue-600 text-blue-600;
}

.table {
  @apply w-full;
}

.table thead {
  @apply bg-blue-600 text-white;
}

.table thead th {
  @apply p-3;
}

.table tbody tr {
  @apply border-b border-gray-300;
}

.table tbody td {
  @apply p-3 bg-gray-100;
}

.btn-edit {
  @apply bg-blue-600 text-white px-3 py-2 rounded-md;
}

.btn-delete {
  @apply bg-red-600 text-white px-3 py-2 rounded-md;
}

.form-control {
  @apply p-2 rounded-md border border-gray-600 w-full;
}